body {
  background-color: #222222;
  color: white;
}
#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: white 2px solid;
  padding: 20px;
  width: 400px;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}
#div1 img {
  border: white 1px solid;
  padding: 5px;
}

#input {
  margin-bottom: 20px;
}
